.App {
  text-align: center;
  background-color: #282c34;
  height:100vh;
}

div {
  background-color: #282c34;
}

.Instructions {
  font-family: sans-serif;
  font-size: 18pt;
  text-align: left;
}

.field {
  width: 40vh;
  height: 50px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}

.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singleForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2vh;
  align-items: left;

}

.formTitle {
    text-align: left;
    margin-bottom: 1vh;
}

.submitButton {
  background-color: #4CAF50; /* Green */
  margin-top: 3vh;
  border: none;
  width: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}
